* {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

body {
    background-color: beige;
    overflow-x: hidden;
}

p {
    color: rgb(41, 41, 41);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}



/* header */

header {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 0px;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0px;
}

ul#desktop-header {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

li {
     display: inline-block;
}

li a {
    font-size: 1.3rem;
    padding: 0px 15px;
    color: white;
    border-right: solid 1px white;
    text-decoration: none;
}

li a:hover {
    color: aquamarine;
}

/* MAIN CONTENT */

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

nav {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    border: 1px solid #111;
}

nav li {
    display: block;
    text-align: center;
}

.content {
  background-color: green;
  width: 90%;
  height: 100%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* footer */

footer {
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

footer p {
    font-size: 0.8rem;
    color: white;
}