* {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

body, html {
  scroll-padding-top: 55px; /* adjust the pixel amount here for your top navigation bar height */
}

body {
    background-color: beige;
    overflow-x: hidden;
}

p {
    color: rgb(41, 41, 41);
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-right: 200px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
}

h4 {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 10px;
}

img {
    margin-bottom: 10px;
}

em {
    font-size: 1.2rem;
    font-weight: bolder;
}

/* header */

header {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 0px;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0px;
}

ul#desktop-header {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

li {
     display: inline-block;
}

header li a {
    font-size: 1.3rem;
    padding: 0px 15px;
    color: white;
    border-right: solid 1px white;
    text-decoration: none;
}

li a:hover {
    color: aquamarine;
}

/* MAIN CONTENT */

#main {
    width: 100%;
    height: 100%;
    display: flex;
}

nav {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0;
    border: 1px solid #111;
    background-color: burlywood;
}

nav li {
    display: block;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.603);
}

nav li a:hover {
    color: darkmagenta;
}

.nav-title {
    text-decoration: underline;
    font-size: 1.2rem;
    color: black;
}

.nav-title:hover {
    color: darkgreen;
}

.content {
  width: 90%;
  height: 100%;
  margin-left: 15%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* footer */

footer {
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
}

footer p {
    font-size: 0.8rem;
    color: white;
}

/* TEST */

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
}

.left {
    margin: 0;
}

.nav-bar-title {
    font-size: 1.2rem;
    color: darkred;
}

u {
    font-size: 1.2rem;
}
